/*
*
*** Gritty Grid
*** Best grid in the world


- blocks with equal margin, equal padding
- block no margin, equal padding between *



*/
$layout-width: 960px;
$gutter: 30px;
$padding: 30px;

.grid {
	max-width: $layout-width;
	margin: 0 auto;
	clear: both;
	// padding: $gutter;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.center {
		margin: 0 auto;
		float: none;
	}
	.row {
		clear: both;
	}
	@media only screen and ( min-width: 768px ) {
		.c1  { width: percentage(1/12); }
		.c2  { width: percentage(2/12); }
		.c3  { width: percentage(3/12); }
		.c4  { width: percentage(4/12); }
		.c5  { width: percentage(5/12); }
		.c6  { width: percentage(6/12); }
		.c7  { width: percentage(7/12); }
		.c8  { width: percentage(8/12); }
		.c9  { width: percentage(9/12); }
		.c10 { width: percentage(10/12);}
		.c11 { width: percentage(11/12);}
		.c12 { width: 100%;}
		
		// .c3 {
		// 	padding: $gutter-size;
		// }

		// Set all elements with column classes to float
		[class^="c"] {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			float: left;
			display: inline-block;
			// padding: $gutter 0 $gutter $gutter;
			text-align: justify;

			padding: $gutter;

			&:nth-child(0n+1) {
				padding-right: $gutter / 2;
				// margin-right: $gutter / 2;
			}
			&:nth-child(0n+2) {
				padding-left: $gutter / 2;
				padding-right: $gutter / 2;
			}
			&:nth-child(0n+3) {
				padding-left: $gutter / 2;
			}

			// margin-right: 0px;
			// border-right: 30px solid #000;
			// border-right: 30px solid #000;

			&:last-of-type {
				// padding-right: $gutter;
			}

			&.right {
				float: right;
			}
			&.left {
				float: left;
			}
		}
	}
}

.block-grid {
	max-width: $layout-width;
	margin: 0 auto;
	color: red;
	border: 3px dashed red;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	[class^='b'] {
		float: left;
		display: inline-block;
		width: percentage(4/12);
		text-align: justify;
		padding: 1em;
	}
}