/*
*
* Main SCSS file
* Comment out the imports you don't need or want
*
*/
/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
// To normalize or reset?

// @import "reset";
@import "normalize";

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
// @import "animate"; // Optional

@import "grid";
@import "helpers";
@import "mixins";
@import "social_colors";

// Colors
$primary-color: red;
$secondary-color: blue;
$accent-color: green;

// Media Query Breakpoints
$ipad-landscape: 1024px;
$ipad-potrait: 768px;

// Make all elements size the same
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}
a {
	text-decoration: none;
	color: #222;
	&:hover { color: #444; }
}
p {
	margin-top: 0;
}
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

@media screen and (max-width:768px){
}